.builds-list {
    max-width: 70%;
    margin: 1.5em auto;
    padding: 1em;
    border-radius: 5px;
}

.build-header {
    text-align: center;
    padding: 1.5em;
    margin: 1.5em auto;
    background-color: #81bfd6;
    border-radius: 5px;
    box-shadow: 0px 5px 10px rgb(0 0 0 / 0.5);
}

.build-header h2 {
    font-family: Garamond sans-serif;
    font-weight: bold;
    font-size: 2rem;
}

.build-container {
    display: grid;
    grid-template-columns: auto auto auto;
}

.build {
    border-radius: 5px;
    margin: 0.5em;
    box-shadow: 0px 5px 10px rgb(0 0 0 / 0.5);
}

.build-ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.build .build-name {
    background-color: #03293d;
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    font-family: Garamond sans-serif;
}

.build li {
    text-align: center;
    font-weight: 600;
    padding: 0.25em;
    background-color: #81bfd6;
}

.build .grey {
    background-color: #eee;
    font-size: 1.25rem;
    font-weight: bold;
}

.editButtons {
    float: right;
}

.editButtons button {
    background-color:#023753;
    color: white;
    margin: 0 0.125em;
    padding: 0.5em 1em;
    box-shadow: 0px 2px 5px rgb(0 0 0 / 0.5);
}

.editButtons button:hover {
    background-color: #c9f0ff;
}

