.home-main {
    max-width: 70%;
    margin: 1.5em auto;
    box-shadow: 0px 5px 10px rgb(0 0 0 / 0.5);
}

.media {
    display: flex;
    justify-content: space-between;
    min-height: 50vh;
    padding: 3em 2.5em;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-image: url(../../../assets/images/Tidal-Logo-Background.png);
    background-size: cover;
    background-position: center;
}

.vid-col1,
.vid-col2 {
    width: 35%;
}

.vid {
    padding: 1em;
}

.vid-text {
    color: white;
    font-family: 'Cormorant Garamond', serif;
    padding: 0.5em 0em;
}

.yt-video {
    width: 100%;
    height: 315px;
}

.guild-info {
    display: flex;
    flex-direction: column;
    background-color: #81bfd6;
    padding: 2em;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.guild-info h2,
.guild-info h3 {
    padding: 0.5em 0em;
}

.about-guild,
.guild-offers,
.guild-requirements,
.how-to-join {
    padding: 0.5em;
}

.regear-img {
    width: 100%;
}

.how-to-join a {
    text-decoration: none;
}
