.topnav {
    background-color: #17628a;
    color: white;
    overflow: hidden;
}

.topnav a,
.topnav button {
    color: white;
    background-color: #17628a;
    text-decoration: none;
    padding: 1.5em;
    font-size: 1.5rem;
    font-family: Garamond, serif;
    float: left;
    display: block;
}

.topnav a:hover,
.topnav button:hover {
    background-color: #c9f0ff;
    color: #17628a;
    text-decoration: none;
}

.topnav .icon {
    display: none;
}

.topnav .login-link, .topnav .logout-button, .topnav .register-link, .topnav .user-name{
    float: right;
}

@media only screen and (max-width: 900px) {
    .header-lead {
        font-size: 1.25rem;
    }
}

@media screen and (max-width: 600px) {
    .header-primary {
        font-size: 2rem;
    }

    .header-text {
        width: 100%;
    }

    .topnav a:not(:first-child),
    .topnav select {
        display: none;
    }

    .topnav button.icon {
        float: right;
        display: block;
        border: none;
    }

    .topnav.responsive {
        position: relative;
    }

    .topnav.responsive button.icon {
        position: absolute;
        right: 0;
        top: 0;
        font-size: 1.5rem;
    }


    .topnav.responsive a,
    .topnav.responsive select {
        float: none;
        text-align: left;
    }

    .topnav.responsive a {
        display: block;
    }

    .topnav.responsive select {
        display: inline;
    }
}
